<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Branch_Feature_ipstatuschecker</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: white;
            border-bottom: 1px solid #eaeaea;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        }
        .navbar {
            display: flex;
            justify-content: space-between;
            padding: 10px 20px;
        }
        .navbar-brand {
            font-size: 1.5em;
            color: #000;
            text-decoration: none;
        }
        .navbar-nav {
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;
        }
        .nav-item {
            margin-left: 20px;
        }
        .nav-link {
            text-decoration: none;
            color: #000;
        }
        .nav-link:hover {
            color: #007bff;
        }
        .container {
            padding: 20px;
        }
        footer {
            border-top: 1px solid #eaeaea;
            padding: 10px;
            text-align: center;
            color: #6c757d;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">main</a>
            <div class="navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="UserManagment" asp-action="CreateNewUser">Create User</a>
                    </li>

                     <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Users">HistoryUserStatus</a>
                    </li>

                     @* <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="ByName">GetUserByName</a>
                    </li> *@

                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        @* <div>
            &copy; 2024 - ipstatuschecker - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div> *@
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
