


@model Ipstatuschecker.Dto.UserDto

@{
    ViewBag.Title = "Create New User";
}

<h2>Create New User</h2>

<form asp-controller="UserManagment" asp-action="Create" method="post">
    <h1>SHIPLIPITO</h1>
 
</form>

@section Scripts {
    <script>
        let deviceCount = 1;
        document.getElementById('add-device').addEventListener('click', function () {
            deviceCount++;

            const deviceContainer = document.createElement('div');
            deviceContainer.classList.add('device-pair');
            @* deviceContainer.innerHTML = `
                <div class="form-group">
                    <label for="Devices[\${deviceCount - 1}].DeviceNames">Device \${deviceCount}</label>
                    <input type="text" class="form-control" name="Devices[\${deviceCount - 1}].DeviceNames" required />
                </div>
                <div class="form-group">
                    <label for="IpStatuses[\${deviceCount - 1}].IpAddress">IP Address</label>
                    <input type="text" class="form-control" name="IpStatuses[\${deviceCount - 1}].IpAddress" required />
                </div>
                <div class="form-group">
                    <label for="IpStatuses[\${deviceCount - 1}].Status">Status</label>
                    <select class="form-control" name="IpStatuses[\${deviceCount - 1}].Status">
                        <option value="Online">Online</option>
                        <option value="Offline">Offline</option>
                    </select>
                </div>
            `; *@

            document.getElementById('devices-container').appendChild(deviceContainer);
        });
    </script>
}
